


@media (max-width: 991px) {
    header nav .mega-menu {
        position: absolute;
        right: 3%;
        top: 100%;
        flex-direction: column;
        flex-basis: 100%;
        background-color: #fff;
        padding: 20px;
        border: 2px solid #000;
    }

    header nav .mega-menu .links {
        flex-direction: column;
    }

    header nav .subscribe {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .articles-section .articles .card-body .post-info span {
        width: 50%;
    }

    .authors .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .authors .card {
        width: calc((100% - 3%) / 2)
    }
}

@media (min-width:992px) {
    header nav .mega-menu {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        min-width: 65%;
        margin-inline-start: auto;
    }

    header nav .menu {
        display: none;
    }

    .hero .wrapper .inner {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    }

    .hero .wrapper .inner .right-side {
        width: 45%;
        padding-inline: 15px;
        margin-top: 5%;
    }

    .hero .wrapper .inner .right-side .img-wrapper {
        transform: rotate(6deg);
        -webkit-transform: rotate(6deg);
        -moz-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        -o-transform: rotate(6deg);
    }

    .hero .wrapper .inner .right-side .img-wrapper:hover {
        transform: rotate(6deg) translate(-3px, -3px);
        -webkit-transform: rotate(6deg) translate(-3px, -3px);
        -moz-transform: rotate(6deg) translate(-3px, -3px);
        -ms-transform: rotate(6deg) translate(-3px, -3px);
        -o-transform: rotate(6deg) translate(-3px, -3px);
    }

    .articles-section .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .articles-section .wrapper .articles{
        width: 65%;
    }

    .articles-section .wrapper .menus {
        width: 33%;
        position: relative;
    }

    .articles-section .wrapper .menus .menus-wrapper {
        position: sticky;
        top: 60px;
    }

    
    /* .articles-section .wrapper .menus .trending {
        position: sticky;
        top: 70px;
        z-index: 100;
        height: 350px;
    } */

    /* .articles-section .wrapper .menus .categoires {
        position: sticky;
        top:300px;
        z-index: 99;
    } */


    .articles-section .articles .card-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }

    .articles-section .articles .card-body .post-info span {
        width: 25%;
    }

    .authors .card {
        width: calc((100% - 4%) / 3)
    }

    .community .wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px
    }
}